div {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgba(63, 127, 191, 0.2);
    color: rgb(38, 76, 114);
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

nav {
    top: 0px;
    width: 100%;
    height: 90px;
    position: fixed;
    background-color: #3f7fbf;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: flex-end;
}

li {
    font-size: 23px;
    padding: 10px 30px 10px 30px;
}

#welcome-section {
    margin-top: 90px;
    background-color: cornflowerblue;
    width: 100%;
    padding: 0px;
    margin 0px;
    height: 100vh;
}

#welcome-section h1 {
    padding-top: 40px;
}

#gif {
    width: 350px;
}

#projects {
    padding: 20px;
}

a {
    color: rgb(38, 76, 114);
    text-decoration: none;
}

i {
    font-size: 70px;
    padding: 25px;
}

i:hover {
    color: rgb(25, 25, 76);
}

a:hover {
    color: rgb(25, 25, 76);
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#jodi {
    width: 300px;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contact a {
    padding: 10px 30px 10px 30px;
}


@media (max-width: 600px) {
    
    ul {
        justify-content: center;
    }
    #projects {
        grid-template-columns: 1fr;
    }
    
    #gif {
        width: 250px;
    }
}
